
#heading{

    text-align: center;
}
.text1{

    
    padding: 15px;}
#section2{

    text-align: center;
}
#section3{

    text-align: center;
}

.skills{

    text-align: center;
}
.skill{

    text-align: center;
    padding: 15px;
}
.projects{

    text-align: center;
}
#abc{

    align-items: center;

}
.footer{

    text-align: center;
    
}


