body {
    background-color: rgb(5, 14, 5);
    font-family: sans-serif;
}

.MessageSection {
    position: relative;
    top: 10%;
    height: 50px;
    text-align: center;
    color: white;
    transform: translate(-1%, 40%);
    font-weight: bolder;
    font-size: 60px;
}

.restartSection {
    position: relative;
    top: 10%;
    height: 50px;
    text-align: center;
    color: white;
    transform: translate(-1%, 1000%);
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
}

.player1Score {
    position: absolute;
    top: 30%;
    height: 50px;
    left: 15%;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
}

.player2Score {
    position: absolute;
    top: 30%;
    left: 70%;
    height: 50px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
}

.drawScore {
    position: absolute;
    top: 58%;
    left: 18%;
    height: 50px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
}

.TogglePlayer {
    position: absolute;
    top: 60%;
    left: 70%;
    height: 50px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
}

.TogglePlayer1 {
    position: absolute;
    top: 68%;
    left: 70%;
    height: 50px;
    color: rgb(212, 28, 28);
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
}

.gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}

.row {
    height: 32%;
    border-radius: 10px;
}

.col {
    height: 100%;
    width: 32%;
    border: 2px solid white;
    float: left;
    font-size: 70px;
    font-weight: bolder;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}