.container{
    padding: 30px;
    border: 4px solid gray;
    margin-top: 50px;
    box-shadow: 5px 5px gray;
    border-radius: 10px;
}

.nopadding{
    padding: 0px;
}

.btn_font{
    font-size: 30px;
}

#calculation{
    padding: 10px;
    font-size: 30px;
    height: 50px;
}