*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;

}
header{
    background-image: url("../images/b3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#animation {
    margin-right: 0;
    height: 40vh;
    position: absolute;
    right: 300px;
    top: 30vh;
}



.logo{
    color:white;
    font-size: 50px;
    padding: 2mm;
    margin-left: 40px;
    
}
.menu a{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
       
}
.menu a:hover{
    background-color:#e74c3c;
    transition: 0.4s;
}
.logo span{
    color:chocolate;
}
.text{
    color:white;
    margin-top: 100px;
    margin-left: 100px;
    max-width: 450 px;
}
.text p{
    font-size: 20px;

}
.text h{
    font-size: 60px;
   

}
.c-btn{
    text-align: left;
    background-color:#e74c3c;
    border: none;
    outline: none;
    padding: 10px;

}



.text span{
    color:orange;
}
#about{
    padding: 0;
    margin:0 ;
}
.section-info{
    font-weight: bold;
    text-align: center;
}
.section-info h1{
    font-size: 70px;
    color:black;
    text-align: center;
    

}
.section-info p{
    font-size: 25px;
    color:royalblue;
}
.about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 70%;
   
    align-items: flex-start;

}
.about-right-col{
    flex-basis: 100px;
}
.about-right-col h2{
    font-size: bold;
    color:blueviolet;
}
.about-right-col p{
    font-size: 20px;}





#skills{
    padding: 100px 50px;
    background:url(../images/bgg.jpg);
    
    


}
.skill-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background:rbg(45,52,54);
    padding: 50px;
    

}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #FFA500;} /* ornange */
.bootstrap{width:75%; background-color: #FFFF00;}/*yellow*/
.js {width: 65%; background-color: #f44336;} /* Red */
.python {width: 80%; background-color:#2196F3;} /* Blue */








    
    
          
          .bottom-left {
              margin-top: 10px;
            position: relative;
            top : -600px;
            left: 36px;
            
            font-size: 70px;
          }
          #projects{
              padding: 100px 50 px;
              
          }
          .projects-row{
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-wrap: wrap;
          }
          .projects-box{
              flex-basis: 25%;
              text-align: center;
              box-shadow: 2px 3px 5px grey;
              padding: 20px;
              margin-top: 20px;
              background-color:grey;
          }
          #projects h1{
              text-align: center;
              color: black;
              font-size: 60px;
          }
          .ml12 {
            font-weight: 200;
            font-size: 1.8em;
            text-transform: uppercase;
            letter-spacing: 0.5em;
          }
          
          .ml12 .letter {
            display: inline-block;
            line-height: 1em;
          }
          
          
          