*{
    background: rgb(11,20,75);
    background: linear-gradient(142deg, rgba(11,20,75,1) 0%, rgba(3,48,71,1) 100%);
    color:#fff;
}

.input{
    border:none;
    outline-width: 0;
    text-align: center;
    margin: auto;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0; 
  font-size: 45px;
  display: block;
}
.buttons{
    position: relative;
    display: flex;
    overflow: hidden;
}

.output{
    border:none;
    outline-width: 0;
    text-align: center;
    margin: auto;
  position: relative;
  top: 0; bottom: 0;
  left: 0; right: 0; 
  font-size: 45px;
  display: block;
}